.Landing_section {
  border: solid 1px black;
  height: 100vh;
}

.capitalize {
  text-transform: uppercase;
}

.Landing_heading {
  display: block;
  font-size: x-large;
  text-align: center;
}

.Landing_headingText {
  display: block;
  font-size: medium;
  font-weight: normal;
  text-align: center;
  padding: 0.7em 1em;
  line-height: 1.5;
}

.Landing_headingContainer {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}