* {
  box-sizing: border-box;
}

html {
  background-color: #15D18F;
  color: white;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  border: none;
  text-decoration: none;
  display: inline-block;
  background-color: inherit;
  color: unset;
}

.Landing_section {
  border: solid 1px black;
  height: 100vh;
}

.uppercase {
  text-transform: uppercase;
}

.Landing_heading {
  display: block;
  font-size: x-large;
  text-align: center;
}

.Landing_headingText {
  display: block;
  font-size: medium;
  font-weight: normal;
  text-align: center;
  padding: 0.7em 1em;
  line-height: 1.5;
}

.Landing_headingContainer {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meals {
  padding: 1em 1em;
  margin: 1em 1em;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
}

.mealsTitle {
  font-size: large;
  align-self: center;
  text-transform: capitalize;
}

.mealsCalContainer {
  margin: 0 auto 0.5em auto;
}

.mealsMacroContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em 0;
}

.mealsMacronutrient {
  /* empty right meow */
}

.mealsCollapseContainer {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.mealsDirectionBtn {
  font-size: 17px;
  background-color: white;
  color: #109E6C;
  border: none;
}

.mealsDirectionBtnContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 3px;
  width: 195px;
  margin: 0.5em auto;
  padding: 9px 15px;
  line-height: 20px;
}

.mealsImage {
  width: 60vw;
  border-radius: 3px;
}

.mealsImageContainer {
  margin: auto;
}

.mealsSearchForm {
  text-align: center;
}

.gradientBox {
  background: linear-gradient(to bottom right,#109E6C 0,#215240);
}

Nav {
  display: flex;
  justify-content: space-around;
}

#logo {
  font-size: large;
}

.Nav_linksContainer {
  display: inline;
  align-self: center;
  font-size: medium;
}

#Nav_signUp {
  font-size: medium;
  padding: 0 1em 0 0;
}

.Nav_links {
  text-decoration: none;
  color: inherit;
  padding: 0 1em 0 0;
}